
@{
    /**/

    /**/

    ViewBag.Title = "FileVerification";
}

<h2>Verificación de firma en INE, desde imagen adjuntada.</h2>
<hr />

@if (ViewBag.isNull == "true")
{
    <div class="row">
        <h4><span class="badge badge-secondary">No se encontró la firma en la INE, favor de adjuntar una foto con mayor claridad.</span></h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-info col-md-12" href="/FindCropValidate/">Volver</a>
        </div>
    </div>
}
else
{
    <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 26rem;">
                <img src="~/Content/imagesUploads/@ViewBag.Url2" alt="Credencial original" height="210" width="100%">
                <div class="card-body">
                    <h5 class="card-title"><strong> Imagen original. </strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-4">
            <div class="card" style="width: 26rem;">
                <img src="~/Content/imagesCrop/@ViewBag.Url" height="210" width="100%" alt="Credencial recortada">
                <div class="card-body">
                    <h5 class="card-title"><strong> Imagen encontrada en imagen original. </strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <br />
        <div class="col-md-6 container">
            <button class="btn btn-danger container" type="submit">@Html.ActionLink("<<Regresar", "Index", "Home", null, new { @class = "my-class" })</button>
        </div>

        <br />

        <div class="col-md-6 container">
            <button class="btn btn-success container" type="submit">@Html.ActionLink("Siguiente>>", "Index", "Home", null, new { @class = "my-class" })</button>
        </div>
}
