@{
    ViewBag.Title = "FileVerification";
}

<h2>Verificación de firma en INE, desde imagen adjuntada.</h2>
<hr />

@if (ViewBag.isNull == "true")
{
    <div class="row">
        <h4><span class="badge badge-secondary">No se encontró la firma en la INE, favor de adjuntar una foto con mayor claridad.</span></h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-info col-md-12" href="/FindCropValidate/">Volver</a>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="card" style="width: 26rem;">
                <img src="~/Content/imagesUploads/@ViewBag.Url2" width="100%" height="250" alt="Credencial original" height="250" width="350">
                <div class="card-body">
                    <h5 class="card-title"><strong> Imagen original. </strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <hr />
            <div class="card" style="width: 26rem;">
                <img src="~/Content/imagesCrop/@ViewBag.Url" width="100%" height="250" alt="Credencial recortada">
                <div class="card-body">
                    <h5 class="card-title"><strong> Imagen encontrada en imagen original. </strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr align="center" |>
                        <th scope="col">Imagen</th>
                        <th scope="col">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Lista)
                    {
                        <tr class="table-primary" align="center">
                            <td>
                                <img src="~/Content/documents/@item.ImagePath" width="130" height="145" alt="Credencial original" />
                            </td>
                            <td>@item.Score</td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <div class="row" align="center">
        <div class="col-5 container">
            <button class="btn btn-danger container" type="submit">@Html.ActionLink("<<Regresar", "Index", "Home", null, new { @class = "my-class" })</button>
        </div>

        <div class="col-5 container">
            <button class="btn btn-success container" type="submit">@Html.ActionLink("Siguiente>>", "Index", "Home", null, new { @class = "my-class" })</button>
        </div>
    </div>


}@{
    ViewBag.Title = "FileVerification";
}

