
@{
    ViewBag.Title = "FileVerification";
}

<h2>FileVerification</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <strong> Imagen original. </strong>
        <img src="~/Content/imagesUploads/@ViewBag.Url2" alt="Credencial original" height="250" width="350">
    </div>
    <div class="col-md-4">
        <strong> Imagen encontrada en imagen original. </strong>
        <img src="~/Content/imagesCrop/@ViewBag.Url" alt="Credencial recortada">
    </div>
</div>
