
@{
    ViewBag.Title = "Index";
}

<h2>Find, Crop & Validate</h2>

<hr />

<div class="row">
    <div class="col-md-6 col-md-push-2">
        <section>
            @using (Html.BeginForm("FileVerification", "FindCropValidate", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div>
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <h4>Ingresa INE</h4>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="file" class="form-control">
                                </div>
                                <div class="form-group float-md-right">
                                    <input type="submit" class="btn btn-danger" value="Verificar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

