
@{
    ViewBag.Title = "OCR";
}

<script src="~/Scripts/sweet-alert.js"></script>
<link rel="stylesheet" href="~/Content/sweetalert/sweet-alert.css">

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Validar Documento (OCR)</h5>
        <p class="card-text">Sube una imagen para extraer su texto.</p>


        <div class="col-md-10 col-md-push-2">
            <section>

                @using (Html.BeginForm("OCRVerification", "OCR", FormMethod.Post, new { id = "fileUploadForm" }))
                {
                    <div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <input type="file" id="idFileDocumento" name="file" class="form-control">
                                    <hr />
                                </div>
                                <div class="row form-group">
                                    <input type="submit" id="idButton" class="btn btn-primary" value="Revisar Documento" />
                                    <div id="Loading" class="col-md-2" style="display: none;">
                                        <img src="~/Content/ImagesApp/loading.gif" width="50" height="50" alt="Loading...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </section>
            <div class="row">
                <div class="col-lg-12">
                    <textarea id="txtArea" name="textarea" class="container" rows="15" cols="100">...</textarea>
                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $("#idButton").click(function (e) {
        if ($('#idFileDocumento').get(0).files.length === 0) {
            Swal.fire({
                type: 'error',
                title: 'Elige un formato válido de imagen.'
            })
            e.preventDefault(); // Cancel the submit
            return false;
        } else {
            $('#Loading').show();
            $('#txtArea').empty();
            $('#txtArea').html('');
            debugger
            // Get form
            var form = $('#fileUploadForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            $("#idButton").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '@Url.Action("OCRVerification", "OCR")',
                data: data,
                processData: false,
                contentType: false,
                cache: false,

                success: function (response) {
                    debugger
                    $("#idButton").prop("disabled", false);

                    $('#Loading').hide();

                    var array = response;
                    var textoCompleto = " ";

                    for (var i = 0; i < array.length; i++) {
                        textoCompleto += array[i] + " ";
                    }

                    $("#txtArea").val(textoCompleto);
            },
            error: function (er) {
                alert("error");
            }//
        });//ajax



        }
    });


    function OnSuccess(data) {
        alert('HTTP Status Code: ' + data);
    }
    function OnFailure(data) {
        alert('HTTP Status Code: ' + data);
    }


</script>

<div class="row" align="center">
    <div class="col-5">
        <button class="btn btn-danger container" type="submit">@Html.ActionLink("<<Regresar", "Index", "Home", null, new { @class = "my-class" })</button>
    </div>
</div>
