
@{
    ViewBag.Title = "OCR";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Validar Documento (OCR)</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


        <div class="col-md-10 col-md-push-2">
            <section>

                @using (Ajax.BeginForm("OCRVerification", "OCR", null, new AjaxOptions()
                {
                    LoadingElementId = "Loading"
                }, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <input type="file" id="idFileDocumento" name="fileDocumento" class="form-control">
                                    <hr />
                                </div>
                                <div class="row form-group">
                                    <input type="submit" id="idButton" class="btn btn-primary" value="Revisar Documento" />
                                    <div id="Loading" class="col-md-2" style="display: none;">
                                        <img src="~/Content/ImagesApp/loading.gif" width="50" height="50" alt="Loading...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>

    </div>
</div>

<script>
    $("#idButton").click(function (e) {
        if ($('#idFile').get(0).files.length === 0) {
            alert('Favor de adjuntar archivo válido');
            e.preventDefault(); // Cancel the submit
            return false;
        } else {
            $('#Loading').show();
        }
    });
</script>

<div class="row" align="center">
    <div class="col-5">
        <button class="btn btn-danger container" type="submit">@Html.ActionLink("<<Regresar", "Index", "Home", null, new { @class = "my-class" })</button>
    </div>
</div>
